<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/icons/site.webmanifest' | relative_url }}">


    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    {% if site.google_site_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
    {% endif %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
      :root {
        --color-green: {{ site.style.green }};
        --color-green-hover: {{ site.style.green_hover }};
        --color-black: {{ site.style.black }};
        --color-white: {{ site.style.white }};
        --color-link: {{ site.style.link }};
        --color-lang-active: {{ site.style.lang_active }};
        --color-hero-text: {{ site.style.hero_text }};
      }
    </style>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>


